{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "singleQuote": false,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true
}