<nav>
  <div class="section-header">Menu</div>

  <a
    class="menu-link"
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <fa-icon class="menu-icon" [icon]="faHouse" />
    <span class="label">Dashboard</span>
  </a>

  <a class="menu-link" routerLink="/customers" routerLinkActive="active-link">
    <fa-icon class="menu-icon" [icon]="faUserGroup" />
    <span class="label">Customers</span>
    <span class="trailing-chip">16</span>
  </a>

  <a class="menu-link" routerLink="/orders" routerLinkActive="active-link">
    <fa-icon class="menu-icon" [icon]="faSignHanging" />
    <span class="label">Orders</span>
  </a>

  <hr class="section-divider" />

  <div class="section-header">Tools</div>

  <a class="menu-link">
    <fa-icon class="menu-icon" [icon]="faGear" />
    <span class="label">Settings</span>
  </a>

  <a class="menu-link">
    <fa-icon class="menu-icon" [icon]="faUserClock" />
    <span class="label">Employees</span>
  </a>
</nav>
